<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weimi.formx.common.mapper.ShopFormExecutionMapper">

    <!-- 新增店铺表单执行 -->
    <insert id="add" parameterType="ShopFormExecution">
        <selectKey order="AFTER" keyProperty="shopFormExecutionId" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_shop_form_execution
        <trim prefix="(" suffix =")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="formId != null">form_id,</if>
            <if test="formName != null">form_name,</if>
            <if test="formType != null">form_type,</if>
            <if test="reportStatus != null">report_status,</if>
            <if test="confirmStatus != null">confirm_status,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="formId != null">#{formId},</if>
            <if test="formName != null">#{formName},</if>
            <if test="formType != null">#{formType},</if>
            <if test="reportStatus != null">#{reportStatus},</if>
            <if test="confirmStatus != null">#{confirmStatus},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <!-- 获取店铺表单执行 -->
    <select id="get" resultType="ShopFormExecution">
        SELECT * FROM t_shop_form_execution WHERE shop_form_execution_id=#{shopFormExecutionId}
    </select>

    <!-- 获取店铺表单执行列表 -->
    <select id="getList" resultType="ShopFormExecution">
        SELECT * FROM t_shop_form_execution WHERE shop_id=#{shopId} AND DATE_FORMAT(create_time, '%Y-%m-%d')=#{createTime}
    </select>

    <!-- 修改汇报状态 -->
    <update id="updateReportStatus">
        UPDATE
            t_shop_form_execution
        SET
            report_status=#{reportStatus},
            report_time=#{reportTime}
        WHERE
            shop_form_execution_id=#{shopFormExecutionId}
            AND DATE_FORMAT(create_time, '%Y-%m-%d')=#{createTime}
    </update>

    <!-- 修改确认状态 -->
    <update id="updateConfirmStatus">
        UPDATE
            t_shop_form_execution
        SET
            confirm_status=#{confirmStatus},
            confirm_time=#{confirmTime}
        WHERE
            shop_form_execution_id=#{shopFormExecutionId}
            AND DATE_FORMAT(create_time, '%Y-%m-%d')=#{createTime}
    </update>

    <!-- 修改评论 -->
    <update id="updateComment">
        UPDATE
            t_shop_form_execution
        SET
            comment=#{comment}
        WHERE
            shop_form_execution_id=#{shopFormExecutionId}
            AND DATE_FORMAT(create_time, '%Y-%m-%d')=#{createTime}
    </update>

</mapper>